@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';
@import 'vue-toastification/dist/index.css';
@import 'highlight.js/styles/default.css';
  
@plugin "@tailwindcss/typography";

body {
    font-size: 12px;
}

/* Status */
.status {
    padding: 4px 12px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
}

.status.active {
    background: #d4edda;
    color: #155724;
}

/* Buttons */
.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.btn.primary {
    background: #667eea;
    color: white;
}

.btn.primary:hover {
    background: #5a6fd8;
}

.btn.secondary {
    background: #6c757d;
    color: white;
}


.btn-icon {
    width: 35px;
    height: 35px;
    border: none;
    background: #f8f9fa;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.btn-icon:hover {
    background: #667eea;
    color: white;
}

.btn-icon.delete:hover {
    background: #ff4757;
}
